{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>案件管理</title>
</head>
<body>

    <!-- テストデータ取り込み
    <div style="width: 500px;">
        <form action="{% url 'sfa:csv_imp' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <label for="csv1">在庫リスト：</label>
            <input class="form-control" type="file" name="csv1" id="csv1">
            <br>
            <input type="submit" name="btn_upload" value="取込">
        </form>
    </div> -->


    <div class="container mt-3 mb-5">
        <div style="margin: 0 auto; width: 1300px;">
            案件管理
            {% for i in list %}
            <div class="flex mt-2" style="font-size: 0.9em;" id="{{i.cus_id}}" name="est_list">
                <div style="width: 20px;"><i class="bi bi-bell-fill"></i></div>
                <div style="width: 90px;">{{i.mitsu_day}}</div>
                <div style="width: 90px;"><i class="bi bi-box-arrow-up-right"></i> {{i.mitsu_id}}-{{i.mitsu_ver}}</div>
                <div style="width: 45px;">
                    {% if i.order_kubun == "新規" %}
                        <div class="order order_1">新規</div>
                    {% elif i.order_kubun == "追加" %}
                        <div class="order order_2">追加</div>
                    {% elif i.order_kubun == "追加新柄" %}
                        <div class="order order_3">新追</div>
                    {% endif %}
                </div>
                <div style="width: 25px;">
                    {% if i.keiro == "Web" %}
                        <div class="order_use">W</div>
                    {% elif i.keiro == "Tel" %}
                        <div class="order_use">T</div>
                    {% endif %}
                </div>
                <div style="width: 25px;">
                    {% if i.use_kubun == "企業" %}<div class="order_use">企</div>                       
                    {% elif i.use_kubun == "団体" %}<div class="order_use">団</div>                       
                    {% elif i.use_kubun == "学生" %}<div class="order_use">学</div>
                    {% elif i.use_kubun == "個人" %}<div class="order_use">個</div>
                    {% endif %}                       
                </div>
                <div style="width: 30px;">
                    {% if i.use_youto == "チームウェア・アイテム" %}<div class="order_use">チ</div>               
                    {% elif i.use_youto == "制服・スタッフウェア" %}<div class="order_use">制</div>               
                    {% elif i.use_youto == "販促・ノベルティ" %}<div class="order_use">ノ</div>
                    {% elif i.use_youto == "記念品・贈答品" %}<div class="order_use">記</div>
                    {% elif i.use_youto == "販売" %}<div class="order_use">販</div>             
                    {% elif i.use_youto == "自分用" %}<div class="order_use">自</div>
                    {% elif i.use_youto == "その他" %}<div class="order_use">他</div>
                    {% endif %}                       
                </div>
                <div style="width: 200px;">{{i.com | truncatechars:15}}</div>
                <div style="width: 80px;">{{i.sei}}{{i.mei}}</div>
                <div style="width: 80px;">{{i.status}}</div>
                <div style="width: 130px;">
                    {% if i.nouhin_shitei %}指定：{{i.nouhin_shitei}}
                    {% elif i.nouhin_kigen %}期限：{{i.nouhin_kigen}}
                    {% endif %}
                </div>
                <div>
                    <i class="bi bi-telephone-forward-fill"></i>
                    11/1（1/3）
                </div>
                <div>
                    <i class="bi bi-envelope-fill"></i>
                    10/15（2）
                </div>
                <div>A</div>
                <div>受注：{{i.juchu_day}}</div>
                <div>発送：{{i.hassou_day}}</div>
                <div><button><i class="bi bi-pencil-square"></i></button></div>
                <div><button><i class="bi bi-person-fill"></i></button></div>
            </div>
            {% endfor %}

            <div>
                <div class="flex2 title2" id="184960" name="est_list">
                    <div style="width: 200px;">0165449-1</div>
                    <div style="width: 200px;">今津</div>
                    <div style="width: 200px;">1,000円</div>
                    <div><button>顧客詳細</button></div>
                </div>
                <div class="flex2 title2" id="810077" name="est_list">
                    <div style="width: 200px;">0173018-2</div>
                    <div style="width: 200px;">池田慎</div>
                    <div style="width: 200px;">500円</div>
                    <div><button>顧客詳細</button></div>
                </div>
                <div class="flex2 title2" id="157017" name="est_list">
                    <div style="width: 200px;">0176296-1</div>
                    <div style="width: 200px;">秋山</div>
                    <div style="width: 200px;">3,000円</div>
                    <div><button>顧客詳細</button></div>
                </div>
            </div>


        </div>
    </div>

    <!-- 各種Ajax -->
    <script>

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i <cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
  
        var csrftoken = getCookie('csrftoken');
  
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
  
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
  

        // 顧客詳細ボタン
        var item=document.getElementsByName("est_list");
        for (var i=0; i<item.length; i++){
            item[i].addEventListener("click",function(){
                $.ajax({
                    'url': '{% url "sfa:kokyaku_detail_api" %}',
                    'type': 'POST',
                    'data': {"cus_id":this.id},
                    'dataType': 'json'
                })
                .done(function(response){
                    // window.open("{% url 'crm:kokyaku_api' %}", '_blank');
                    window.location.href = "{% url 'crm:kokyaku_api' %}"
                })
            },false)
        };



    </script>
</body>
</html>