{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="icon" href="{% static 't-shirt_3.gif' %}">
    <title>案件管理一覧</title>
</head>
<body>

    <div class="mt-3 mb-5">

        <!-- メニュー -->
        <div style="margin: 0 auto; width: 1150px">
            {% include "sfa/menu.html" with act_user=act_user %}
        </div>

        <div style="margin: 0 auto; width: 1665px;">
            <hr>
            <div class="flex">
                <div class="block_title">案件管理一覧</div>
                {% if alert_all > 0 %}
                <div style="margin-left: 30px;">
                    <button class="btn btn-danger" id="alert_click"><span style="color: yellow;"><i class="bi bi-bell-fill"></i></span> アラート発生中：{{alert_all}}件</button> 
                </div>
                {% endif %}
            </div>
            <hr>
            <!-- フィルター -->
            <div>
                <form action="{% url 'sfa:search' %}" method="post" name="form_filter">{% csrf_token %}
                    <div class="flex3">
                        <div class="flex">
                            <div>部署：</div>
                            <div>
                                <select class="form-select" name="busho" id="busho" style="width: 150px;">
                                    {% for key,value in busho_list.items %}
                                        {% if key == ses.busho %}
                                        <option value="{{key}}" selected>{{value}}</option>
                                        {% else %}
                                        <option value="{{key}}">{{value}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div style="margin-left: 20px;">担当：</div>
                            <div>
                                <select class="form-select" name="tantou" id="tantou" style="width: 150px;" required>
                                    {% for i in tantou_list %}
                                        {% if i.tantou_id == ses.tantou %}
                                        <option value="{{i.tantou_id}}" selected>{{i.tantou}}</option>
                                        {% else %}
                                        <option value="{{i.tantou_id}}">{{i.tantou}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>   
                            </div>
                            <div style="margin-left: 30px;">
                                <button type="submit" class="btn btn-primary"><i class="bi bi-eye"></i> 表示</button>
                            </div>
                            <div style="margin-left: 30px;">
                                <button class="btn btn-outline-dark btn-sm" id="form_clear"><i class="bi bi-eraser"></i> 詳細クリア</button>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-danger" id="api_reload"><i class="bi bi-arrow-repeat"></i> データ再取得</button>
                        </div>
                    </div>
                    <div class="flex mt-4">
                        <div>注文区分：</div>
                        <div>
                            <select class="form-select form-select-sm" id="chumon_kubun" name="chumon_kubun" style="width: 100px;">
                                {% for i in chumon_kubun %}
                                    {% if i == ses.chumon_kubun %}
                                    <option value="{{i}}" selected>{{i}}</option>
                                    {% else %}
                                    <option value="{{i}}">{{i}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div style="margin-left: 30px;">流入経路：</div>
                        <div>
                            <select class="form-select form-select-sm" id="keiro" name="keiro" style="width: 100px;">
                                {% for i in keiro_list %}
                                    {% if i == ses.keiro %}
                                    <option value="{{i}}" selected>{{i}}</option>
                                    {% else %}
                                    <option value="{{i}}">{{i}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div style="margin-left: 30px;">都道府県：</div>
                        <div>
                            <select class="form-select form-select-sm" id="pref" name="pref" style="width: 100px;">
                                {% for i in pref_list %}
                                    {% if i == ses.pref %}
                                    <option value="{{i}}" selected>{{i}}</option>
                                    {% else %}
                                    <option value="{{i}}">{{i}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div style="margin-left: 30px;">確度：</div>
                        <div>
                            <select class="form-select form-select-sm" id="kakudo" name="kakudo" style="width: 70px;">
                                {% for i in kakudo_list %}
                                    {% if i == ses.kakudo %}
                                    <option value="{{i}}" selected>{{i}}</option>
                                    {% else %}
                                    <option value="{{i}}">{{i}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div style="margin-left: 10px;">
                            <input class="form-control form-control-sm" type="month" id="kakudo_day" name="kakudo_day" style="width: 115px;" value="{{ses.kakudo_day}}">
                        </div>
                        <div style="margin-left: 40px;">
                            <select class="form-select form-select-sm" name="day_type" id="day_type">
                                {% if ses.day_type == "est" %}
                                <option value="est" selected>見積作成日</option>
                                <option value="hassou">発送完了日</option>
                                {% else %}
                                <option value="est">見積作成日</option>
                                <option value="hassou" selected>発送完了日</option>
                                {% endif %}
                            </select>
                        </div>
                        <div>：</div>
                        <div><input class="form-control form-control-sm" type="date" id="day_st" name="day_st" style="width: 120px;" value="{{ses.day_st}}"></div>
                        <div style="margin: 0px 10px;">～</div>
                        <div><input class="form-control form-control-sm" type="date" id="day_ed" name="day_ed" style="width: 120px;" value="{{ses.day_ed}}"></div>
                    </div>
                    <div class="flex mt-4">
                        <div>見積番号：</div>
                        <div><input class="form-control form-control-sm" type="text" id="s_mitsu" name="s_mitsu" style="width: 100px;" value="{{ses.s_mitsu}}"></div>
                        <div style="margin-left: 30px;">会社名：</div>
                        <div><input class="form-control form-control-sm" type="text" id="com" name="com" style="width: 200px;" value="{{ses.com}}"></div>
                        <div style="margin-left: 30px;">姓：</div>
                        <div><input class="form-control form-control-sm" type="text" id="cus_sei" name="cus_sei" style="width: 70px;" value="{{ses.cus_sei}}"></div>
                        <div style="margin-left: 30px;">名：</div>
                        <div><input class="form-control form-control-sm" type="text" id="cus_mei" name="cus_mei" style="width: 70px;" value="{{ses.cus_mei}}"></div>
                        <div style="margin-left: 30px;">
                            {% if ses.alert %}
                            <input class="form-check-input" type="checkbox" id="alert" name="alert" checked>アラート発生中
                            {% else %}
                            <input class="form-check-input" type="checkbox" id="alert" name="alert">アラート発生中
                            {% endif %}
                        </div>
                    </div>
                    <div class="flex mt-4">
                        <div>ステータス：</div>
                        {% for i in status_list %}
                            {% if i == "見積中" %}
                                {% if i in ses.st %}
                                <div><input class="form-check-input" type="checkbox" name="st" value="{{i}}" checked>{{i}}</div>
                                {% else %}
                                <div><input class="form-check-input" type="checkbox" name="st" value="{{i}}">{{i}}</div>
                                {% endif %}
                            {% else %}
                                {% if i in ses.st %}
                                <div style="margin-left: 20px;"><input class="form-check-input" type="checkbox" name="st" value="{{i}}" checked>{{i}}</div>
                                {% else %}
                                <div style="margin-left: 20px;"><input class="form-check-input" type="checkbox" name="st" value="{{i}}">{{i}}</div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="flex mt-4">
                        <div><i class="bi bi-arrow-down-up"></i> <b>並び替え：</b></div>
                        <div>
                            <select class="form-select form-select-sm" id="sort_name" name="sort_name" style="width: 120px;">
                                {% for key,value in sort_list.items %}
                                    {% if key == ses.sort_name %}
                                    <option value="{{key}}" selected>{{value}}</option>
                                    {% else %}
                                    <option value="{{key}}">{{value}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div style="margin-left: 10px;">
                            <select class="form-select form-select-sm" id="sort_jun" name="sort_jun" style="width: 80px;">
                                {% if ses.sort_jun == "0" %}
                                <option value="0" selected>昇順</option>
                                <option value="l">降順</option>
                                {% else %}
                                <option value="0">昇順</option>
                                <option value="l" selected>降順</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <hr>
            <!-- 案件一覧 -->
            <div class="flex3">
                <div class="flex">
                    <div style="width: 28px;text-align: center;" class="red-check"><input class="form-check-input" type="checkbox" id="show_check_all"></div>
                    <div style="margin-left: 10px;"><button class="btn btn-outline-danger btn-sm" type="button" id="btn_show"><i class="bi bi-eye-slash"></i> 非表示</button></div> 
                </div>
                <div class="flex">
                    <div><button class="btn btn-outline-primary btn-sm" type="button" id="btn_mw"><i class="bi bi-envelope-fill"></i> サンクスメール作成</button></div>
                    <div style="width: 28px; margin-left: 10px;"><input class="form-check-input" type="checkbox" id="mw_check_all"></div>
                </div>
            </div>

            <div style="margin-top: 15px;">
                {% for i in list %}

                {% if i.status == "未" %}
                <div class="flex sfa_main" style="background-color: #FFF;">
                {% elif i.status == "見" %}
                <div class="flex sfa_main" style="background-color: #ceffb7;">
                {% elif i.status == "イ" %}
                <div class="flex sfa_main" style="background-color: #c8f7fd;">
                {% elif i.status == "受" %}
                <div class="flex sfa_main" style="background-color: #fff9a7;">
                {% elif i.status == "発" %}
                <div class="flex sfa_main" style="background-color: #dbbbff;">
                {% elif i.status == "キ" %}
                <div class="flex sfa_main" style="background-color: #c5c5c5;">
                {% elif i.status == "終" %}
                <div class="flex sfa_main" style="background-color: #ffbcbc;">
                {% elif i.status == "保" %}
                <div class="flex sfa_main" style="background-color: #FFF;">
                {% elif i.status == "失" %}
                <div class="flex sfa_main" style="background-color: #c5c5c5;">
                {% elif i.status == "待" %}
                <div class="flex sfa_main" style="background-color: #FFF;">
                {% elif i.status == "サ" %}
                <div class="flex sfa_main" style="background-color: #ffb85c;">
                {% endif %}

                    <div class="red-check" style="width: 25px;"><input class="form-check-input" type="checkbox" id="{{i.mitsu_id}}" name="show_list"></div>
                    <div style="width: 50px;">{{i.make_day}}</div>
                    <div style="width: 100px;">
                        <a href="{{i.mitsu_url}}" target="_blank"><span style="color: #008b8b;"><i class="bi bi-box-arrow-up-right"></i></span></a> {{i.mitsu_num}}
                    </div>
                    <div style="width: 45px;">
                        {% if i.order_kubun == "新規" %}
                            <div class="order order_1">新規</div>
                        {% elif i.order_kubun == "追加" %}
                            <div class="order order_2">追加</div>
                        {% elif i.order_kubun == "追加新柄" %}
                            <div class="order order_3">新追</div>
                        {% elif i.order_kubun == "刷り直し" %}
                            <div class="order_4">刷直</div>
                        {% elif i.order_kubun == "返金" %}
                        <div class="order_4">返金</div>
                        {% endif %}
                    </div>
                    <div style="width: 30px;">
                        {% if i.keiro %}<div class="order_use">{{i.keiro}}</div>{% endif %}                    
                    </div>
                    <div style="width: 30px;">
                        {% if i.use_kubun %}<div class="order_use">{{i.use_kubun}}</div>{% endif %}                                            
                    </div>
                    <div style="width: 35px;">
                        {% if i.use_youto %}<div class="order_use">{{i.use_youto}}</div>{% endif %}            
                    </div>
                    <div style="width: 70px;">{{i.pref}}</div>
                    <div style="width: 210px;">{{i.com | truncatechars:14}}</div>
                    <div style="width: 90px;">{{i.cus | truncatechars:6}}</div>
                    <div style="width: 40px;"><div class="order_use">{{i.status}}</div></div>
                    <div style="width: 90px;">{{i.money | intcomma}}円</div>
                    <div style="width: 90px;">{{i.nouki}}</div>
                    <div style="width: 40px;">
                        {% if i.alert != 0 %}
                            <span class="bell"><i class="bi bi-bell-fill"></i></span>
                        {% endif %}
                    </div>
                    <div style="width: 100px;">
                        {% if i.tel_result == 0 %}
                            <span><i class="bi bi-telephone"></i></span>
                        {% elif i.tel_result == 1 %}
                            <span style="color: blue;"><i class="bi bi-telephone-forward-fill"></i>　{{i.tel}}</span>
                        {% elif i.tel_result == 2 %}
                            <span style="color: gray"><i class="bi bi-telephone-x-fill"></i>　{{i.tel}}</span>
                        {% endif %}
                    </div>
                    <div style="width: 90px;">
                        {% if i.mail_result == 0 %}
                            <span><i class="bi bi-envelope"></i></span>
                        {% else %}
                            <span style="color: #b66d00;"><i class="bi bi-envelope-fill"></i> {{i.mail}}</span>
                        {% endif %}
                    </div>
                    <div style="width: 100px; font-size: 0.8em; padding-right: 10px; cursor: pointer;" title="{{i.bikou}}">
                        {{i.bikou | truncatechars:15}}
                    </div>
                    <div style="width: 100px; font-size: 0.8em; padding-right: 10px; cursor: pointer;" title="{{i.memo2}}">
                        {{i.memo1 | truncatechars:15}}
                    </div>
                    <div style="width: 40px;">
                        {% if i.kakudo == "A" %}
                            <div class="kakudo kakudo_A">A</div>
                        {% elif i.kakudo == "B" %}
                            <div class="kakudo kakudo_B">B</div>
                        {% elif i.kakudo == "C" %}
                            <div class="kakudo kakudo_C">C</div>
                        {% endif %}</div>
                    <div style="width: 80px;">受：{{i.juchu}}</div>
                    <div style="width: 90px;">発：{{i.hassou}}</div>
                    <div style="width: 40px;" id="{{i.mitsu_id}}" name="sfa_list">
                        <button type="button" class="btn btn-outline-secondary btn-sm" style="border-radius: 50%;" data-bs-toggle="modal" data-bs-target="#modal_est">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </div>
                    <div style="width: 40px;" id="{{i.cus_id}}" name="crm_list">
                        {% if i.cus_id != None %}
                        <button type="button" class="btn btn-outline-success btn-sm" style="border-radius: 50%;">
                            <i class="bi bi-person-square"></i>
                        </button>
                        {% endif %}
                    </div>
                    <div style="width: 20px; text-align: right;">
                        {% if i.status == "発" or i.status == "終" %}
                            {% if i.mw == 0 %}
                            <input class="form-check-input" type="checkbox"  id="{{i.mitsu_id}}" name="mw_list">
                            {% else %}
                            <input class="form-check-input" type="checkbox"  id="{{i.mitsu_id}}" name="mw_list" checked disabled>
                            {% endif %}
                        {% endif %}
                    </div>

                </div>
                {% endfor %}
            </div>


            <!-- モーダル -->
            <div class="modal fade" id="modal_est" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <!-- HEADER -->
                        <div class="modal-header">
                            <div id="exampleModalLabel"></div>
                            <div class="flex">
                                <div id="modal_mitsu_id" style="margin-left: 50px; display: none;"></div>
                                <div id="modal_mitsu_num" style="font-size: 1.3em; font-weight: bold;"></div>
                                <div class="flex" id="modal_alert_show" style="margin-left: 70px; display: none;">
                                    <div style="font-size: 1.2em;">
                                        <span id="modal_alert_num" style="display: none;"></span>
                                        <span class="bell"><i class="bi bi-bell-fill"></i></span>
                                        <span id="modal_alert_text" style="color: red;"></span>
                                    </div>
                                    <div style="margin-left: 20px;">
                                        <button type="button" class="btn btn-outline-danger btn-sm" id="modal_alert_check">アラート解除</button>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" name="modal_btn_close"></button>
                        </div>
                        <!-- BODY -->
                        <div class="modal-body">
                            <div class="flex2">
                                <div id="modal_left"></div>
                                <div style="margin-left: 50px;">
                                    <!-- TOP -->
                                    <div>
                                        <div class="flex3">
                                            <div class="flex">
                                                <div>■確度：</div>
                                                <div>
                                                    <select class="form-select form-select-sm" id="modal_kakudo">
                                                        <option></option>
                                                        <option value="A">A</option>
                                                        <option value="B">B</option>
                                                        <option value="C">C</option>
                                                    </select>
                                                </div>
                                                <div style="margin-left: 10px;">
                                                    <input class="form-control form-control-sm" type="month" id="modal_kakudo_day">
                                                </div>
                                                <div style="margin-left: 30px;"><button class="btn btn-secondary btn-sm" id="modal_btn_top">設定</button></div>
                                            </div>
                                            <div style="margin-left: 50px;">
                                                <button class="btn btn-outline-success" id="modal_btn_show">表示設定</button>
                                            </div>
                                        </div>
                                        <div class="flex" style="margin-top: 20px;">
                                            <div>■ステータス：</div>
                                            <div>
                                                <select class="form-select form-select-sm" id="modal_status">
                                                    <option value="見積中">見積中</option>
                                                    <option value="見積送信">見積送信</option>
                                                    <option value="イメージ">イメージ</option>
                                                    <option value="受注">受注</option>
                                                    <option value="発送完了">発送完了</option>
                                                    <option value="キャンセル">キャンセル</option>
                                                    <option value="終了">終了</option>
                                                    <option value="保留">保留</option>
                                                    <option value="失注">失注</option>
                                                    <option value="連絡待ち">連絡待ち</option>
                                                    <option value="サンクス">サンクス</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div style="margin-top: 20px;">
                                            <div>■備考</div>
                                            <div style="margin-top: 5px;"><textarea class="form-control" rows="5" id="modal_bikou"></textarea></div>
                                        </div>
                                    </div>
                                    <hr>
                                    <!-- BOT -->
                                    <div style="margin-top: 20px;">
                                        <div>■電話入れ / メール / メモ / アラート</div>
                                        <div class="flex mt-3">
                                            <div>種類：</div>
                                            <div>
                                                <select class="form-select form-select-sm" id="modal_bot_type">
                                                    <option value="0"></option>
                                                    <option value="1">TEL</option>
                                                    <option value="2">メール</option>
                                                    <option value="3">メモ</option>
                                                    <option value="4">アラート</option>
                                                </select>
                                            </div>
                                            <div id="modal_tel_hyouji" style="display: none;">
                                                <select class="form-select form-select-sm" id="modal_bot_tel">
                                                    <option value="対応">対応</option>
                                                    <option value="不在">不在</option>
                                                </select>
                                            </div>
                                            <div style="margin-left: 20px;">日付：</div>
                                            <div><input class="form-control form-control-sm" type="date" id="modal_bot_day" style="width: 120px;"></div>
                                            <div style="margin-left: 20px;"><button class="btn btn-outline-dark btn-sm" id="modal_btn_bot_new">新規</button></div>
                                            <div style="margin-left: 20px;"><button class="btn btn-outline-danger btn-sm" id="modal_btn_bot_del">削除</button></div>
                                            <div id="act_id" style="display: none;"></div>
                                            <div id="modal_cus_id" style="display: none;"></div>
                                        </div>
                                        <div class="flex">
                                            <div style="margin-top: 10px; width: 450px;"><textarea class="form-control" rows="2" id="modal_bot_text"></textarea></div>
                                            <div style="margin-left: 20px;"><button class="btn btn-primary btn-sm" id="modal_btn_bot">決定</button></div>
                                        </div>
                                        
                                        <div class="inlineframe" id="modal_sfa_action" style="height: 180px; width: 530px; cursor: pointer;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal" aria-label="Close" name="modal_btn_close">閉じる</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


      

    <!-- 各種Ajax -->
    <script>

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i <cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
  
        var csrftoken = getCookie('csrftoken');
  
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
  
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
  


        
        // 部署選択
        document.getElementById("busho").addEventListener("change",function(){
            $.ajax({
                    'url': '{% url "sfa:busho_tantou" %}',
                    'type': 'POST',
                    'data': {
                        "busho":document.getElementById("busho").value,
                    },
                    'dataType': 'json'
                })
                .done(function(response){
                    tantou=response.tantou;
                    var str="";
                    for (var i of tantou){
                        str=str+"<option value='" + i.tantou_id + "'>" + i.tantou + "</option>"
                    };
                    document.getElementById("tantou").innerHTML=str;
                })
        });


        // フォームクリア
        function form_clear(){
            document.getElementById("chumon_kubun").value="";
            document.getElementById("keiro").value="";
            document.getElementById("pref").value="";
            document.getElementById("kakudo").value="";
            document.getElementById("kakudo_day").value="";
            document.getElementById("day_type").value="est";
            document.getElementById("day_st").value="";
            document.getElementById("day_ed").value="";
            document.getElementById("s_mitsu").value="";
            document.getElementById("com").value="";
            document.getElementById("cus_sei").value="";
            document.getElementById("cus_mei").value="";
            document.getElementById("alert").checked=false;
            var st=document.getElementsByName("st");
            for (var i=0; i<st.length; i++){
                st[i].checked=false;
            };
        }

        // 詳細クリアボタン
        document.getElementById("form_clear").addEventListener("click",function(e){
            e.preventDefault();
            form_clear();
        })


        // API接続
        document.getElementById("api_reload").addEventListener("click",function(e){
            e.preventDefault();
            var tantou=document.getElementById("tantou").value;
            if (tantou == ""){
                window.alert("担当者を選択し「表示」を押して確定してください！");
                return
            }
            window.location.href="{% url 'sfa:index_api' %}";
        });


        // モーダル_表示設定
        document.getElementById("modal_btn_show").addEventListener("click",function(){
            $.ajax({
                    'url': '{% url "sfa:show_direct" %}',
                    'type': 'POST',
                    'data': {"mitsu_id":document.getElementById("modal_mitsu_id").innerText},
                    'dataType': 'json'
            })
            .done(function(response){
                window.location.href="{% url 'sfa:show' %}";
            })
        });


        // 詳細モーダル
        $("#modal_est").on("show.bs.modal", function (event) {
            var item=document.getElementsByName("sfa_list");
            for (var i=0; i<item.length; i++){
                item[i].addEventListener("click",function(){
                    $.ajax({
                        'url': '{% url "sfa:mitsu_detail_api" %}',
                        'type': 'POST',
                        'data': {"mitsu_id":this.id},
                        'dataType': 'json'
                    })
                    .done(function(response){
                        res=response.res;
                        res2=response.res2;
                        res3=response.res3;
                        text=response.text;
                        alert_num=response.alert_num;
                        document.getElementById("modal_mitsu_id").innerText=res.mitsu_id;
                        document.getElementById("modal_mitsu_num").innerHTML="<a href='" + res.mitsu_url + "' target='_blank'><i class='bi bi-box-arrow-up-right'></i></a> " + 
                            res.mitsu_num + "-" + res.mitsu_ver;
                        if (res3 == 1){
                            document.getElementById("modal_alert_show").style.display="flex";
                            document.getElementById("modal_alert_text").innerText=text;
                            document.getElementById("modal_alert_num").innerText=alert_num;
                        };
                        document.getElementById("modal_left").innerHTML = 
                            "<table class='table table-bordered' style='width:500px;'>" + 
                            "<tr><th>会社・部課</th><td colspan='3'>" + res.com  + "　" + res.com_busho + "</td></tr>" + 
                            "<tr><th>氏名</th><td colspan='3'>" + res.sei + res.mei  + "</td></tr>" + 
                            "<tr><th>注文区分</th><td>" + res.order_kubun  + "</td><th>流入経路</th><td>" + res.keiro  + "</td></tr>" +
                            "<tr><th>合計金額</th><td colspan='3'>" + res.money.toLocaleString()  + "円</td></tr>" + 
                            "<tr><th>支払方法</th><td colspan='3'>" + res.pay + "</td></tr>" +
                            "<tr><th>利用区分</th><td colspan='3'>" + res.use_kubun  + "</td></tr>" + 
                            "<tr><th>使用用途</th><td colspan='3'>" + res.use_youto  + "</td></tr>" + 
                            "<tr><th>見積作成日</th><td>" + res.make_day  + "</td><th>初回見積日</th><td>" + res.mitsu_day  + "</td></tr>" + 
                            "<tr><th>納品指定日</th><td>" + res.nouhin_shitei  + "</td><th>納品期限日</th><td>" + res.nouhin_kigen  + "</td></tr>" + 
                            "<tr><th>受注日</th><td>" + res.juchu_day  + "</td><th>発送完了日</th><td>" + res.hassou_day  + "</td></tr>" + 
                            "<tr><th>最終更新日</th><td colspan='3'>" + res.update_day + "</td></tr>" +
                            "<tr><th>都道府県</th><td colspan='3'>" + res.pref  + "</td></tr>" + 
                            "<tr><th>電話番号</th><td colspan='3'>"+ res.tel + "</td></tr>" +
                            "<tr><th>携帯番号</th><td colspan='3'>" + res.tel_mob  + "</td></tr>" + 
                            "<tr><th>メール</th><td colspan='3'>" + res.mail  + "</td></tr></table>";
                        document.getElementById("modal_kakudo").value=res.kakudo;
                        document.getElementById("modal_kakudo_day").value=res.kakudo_day;
                        document.getElementById("modal_status").value=res.status;
                        document.getElementById("modal_bikou").value=res.bikou;

                        var str = "";
                        var icon = "";
                        for (var i of res2){
                            if (i.type == 1) {
                                icon="<span style='color: green; font-weight: bold;'><i class='bi bi-telephone-forward-fill'></i></span>";
                            } else if (i.type == 2) {
                                icon="<span style='color: #ff9900; font-weight: bold;'><i class='bi bi-envelope-fill'></i></span>"
                            } else if (i.type == 3) {
                                icon="<span style='color: #646565; font-weight: bold;'><i class='bi bi-clipboard-fill'></i></span>"
                            } else if (i.type == 4) {
                                icon="<span style='color: red; font-weight: bold;'><i class='bi bi-bell-fill'></i></span>"
                            };
                            str=str + "<div class='flex modal_action' id='" + i.act_id + "' name='act_list' style='font-size:0.9em'>" +
                                "<div style='width: 100px'>" + i.day + "</div><div style='width: 30px'>" + icon + "</div>" +
                                "<div style='width: 50px'>" + i.tel_result + "</div><div>" + i.text + "</div>" +
                                "</div>";
                        };
                        document.getElementById("modal_sfa_action").innerHTML=str;
                        document.getElementById("act_id").value="";
                        document.getElementById("modal_cus_id").innerText=res.cus_id;
                        modal_bot_click();
                    })
                },false)
            };
        });
        
        
        // モーダル_TOP
        document.getElementById("modal_btn_top").addEventListener("click",function(){
            var kakudo=document.getElementById("modal_kakudo").value;
            var kakudo_day=document.getElementById("modal_kakudo_day").value;
            if (kakudo != "" && kakudo_day==""){
                window.alert("確度の予定日を設定してください！");
                return
            };
            $.ajax({
                    'url': '{% url "sfa:modal_top" %}',
                    'type': 'POST',
                    'data': {
                        "mitsu_id":document.getElementById("modal_mitsu_id").innerText,
                        "kakudo":kakudo,
                        "kakudo_day":kakudo_day,
                        "status":document.getElementById("modal_status").value,
                        "bikou":document.getElementById("modal_bikou").value
                    },
                    'dataType': 'json'
                })
                .done(function(response){
                    window.alert("変更しました！");
                })
        });


        // モーダル_TEL
        var type = document.getElementById("modal_bot_type");
        type.addEventListener("change",function(){
            if (type.value == 1){
                document.getElementById("modal_tel_hyouji").style.display="block"
                document.getElementById("modal_bot_tel").options[0].selected=true;
            } else {
                document.getElementById("modal_tel_hyouji").style.display="none";
            };
        });


        // モーダル_BOT
        document.getElementById("modal_btn_bot").addEventListener("click",function(e){
            var type = document.getElementById("modal_bot_type").value;
            var day = document.getElementById("modal_bot_day").value;
            var act_id = document.getElementById("act_id").value;
            if (type==0){
                window.alert("種類を選択してください！");
                return
            } else if (day==""){
                window.alert("日付を入力してください！");
                return
            };
            $.ajax({
                    'url': '{% url "sfa:modal_bot" %}',
                    'type': 'POST',
                    'data': {
                        "act_id":act_id,
                        "mitsu_id":document.getElementById("modal_mitsu_id").innerText,
                        "cus_id":document.getElementById("modal_cus_id").innerText,
                        "day":document.getElementById("modal_bot_day").value,
                        "type":document.getElementById("modal_bot_type").value,
                        "tel_result":document.getElementById("modal_bot_tel").value,
                        "text":document.getElementById("modal_bot_text").value
                    },
                    'dataType': 'json'
                })
                .done(function(response){
                    res=response.res;
                    var str = "";
                    var icon = "";
                    for (var i of res){
                        if (i.type == 1) {
                            icon="<span style='color: green; font-weight: bold;'><i class='bi bi-telephone-forward-fill'></i></span>";
                        } else if (i.type == 2) {
                            icon="<span style='color: #ff9900; font-weight: bold;'><i class='bi bi-envelope-fill'></i></span>"
                        } else if (i.type == 3) {
                            icon="<span style='color: #646565; font-weight: bold;'><i class='bi bi-clipboard-fill'></i></span>"
                        } else if (i.type == 4) {
                            icon="<span style='color: red; font-weight: bold;'><i class='bi bi-bell-fill'></i></span>"
                        };
                        str=str + "<div class='flex modal_action' id='" + i.act_id + "' name='act_list' style='font-size:0.9em'>" +
                            "<div style='width: 100px'>" + i.day + "</div><div style='width: 30px'>" + icon + "</div>" +
                            "<div style='width: 50px'>" + i.tel_result + "</div><div>" + i.text + "</div>" +
                            "</div>";
                    };
                    document.getElementById("modal_sfa_action").innerHTML=str;
                    document.getElementById("modal_bot_day").value="";
                    document.getElementById("modal_bot_type").value="";
                    document.getElementById("modal_tel_hyouji").style.display="none";
                    document.getElementById("modal_bot_text").value="";
                    document.getElementById("act_id").value="";
                    modal_bot_click();
                })
        });


        // モーダル_BOT_リストクリック
        function modal_bot_click(){
            var item=document.getElementsByName("act_list");
            for (var i=0; i<item.length; i++){
                item[i].addEventListener("click",function(){
                    document.getElementById("act_id").value=this.id;
                    $.ajax({
                        'url': '{% url "sfa:modal_bot_click" %}',
                        'type': 'POST',
                        'data': {"act_id":this.id},
                        'dataType': 'json'
                    })
                    .done(function(response){
                        res=response.res;
                        if (res.type == 1){
                            document.getElementById("modal_tel_hyouji").style.display="block";
                        } else {
                            document.getElementById("modal_tel_hyouji").style.display="none";
                        };
                        document.getElementById("modal_bot_type").value=res.type;
                        document.getElementById("modal_bot_tel").value=res.tel;
                        document.getElementById("modal_bot_day").value=res.day;
                        document.getElementById("modal_bot_text").value=res.text;
                    })
                },false)
            };
        }

        // モーダル_BOT_リセット
        document.getElementById("modal_btn_bot_new").addEventListener("click",function(e){
            document.getElementById("modal_bot_type").value="";
            document.getElementById("modal_bot_tel").value="";
            document.getElementById("modal_bot_day").value="";
            document.getElementById("modal_bot_text").value="";
            document.getElementById("act_id").value="";
            document.getElementById("modal_tel_hyouji").style.display="none";
        });
        

        // モーダル_BOT_削除
        document.getElementById("modal_btn_bot_del").addEventListener("click",function(e){
            var act_id = document.getElementById("act_id").value;
            if (act_id==""){
                window.alert("削除対象を選択してください！");
                return
            };
            var modal_alert_num = document.getElementById("modal_alert_num").innerText;
            if (modal_alert_num == act_id){
                window.alert("先に発生中のアラートを解除してください！");
                return
            };
            var ans =confirm("本当に削除しますか？");
            if (ans == false){
                return
            };
            $.ajax({
                    'url': '{% url "sfa:modal_bot_delete" %}',
                    'type': 'POST',
                    'data': {
                        "act_id":act_id,
                        "mitsu_id":document.getElementById("modal_mitsu_id").innerText,
                    },
                    'dataType': 'json'
                })
                .done(function(response){
                    res=response.res;
                    var str = "";
                    var icon = "";
                    for (var i of res){
                        if (i.type == 1) {
                            icon="<span style='color: green; font-weight: bold;'><i class='bi bi-telephone-forward-fill'></i></span>";
                        } else if (i.type == 2) {
                            icon="<span style='color: #ff9900; font-weight: bold;'><i class='bi bi-envelope-fill'></i></span>"
                        } else if (i.type == 3) {
                            icon="<span style='color: #646565; font-weight: bold;'><i class='bi bi-clipboard-fill'></i></span>"
                        } else if (i.type == 4) {
                            icon="<span style='color: red; font-weight: bold;'><i class='bi bi-bell-fill'></i></span>"
                        };
                        str=str + "<div class='flex modal_action' id='" + i.act_id + "' name='act_list' style='font-size:0.9em'>" +
                            "<div style='width: 100px'>" + i.day + "</div><div style='width: 30px'>" + icon + "</div>" +
                            "<div style='width: 50px'>" + i.tel_result + "</div><div>" + i.text + "</div>" +
                            "</div>";
                    };
                    document.getElementById("modal_sfa_action").innerHTML=str;
                    document.getElementById("modal_bot_day").value="";
                    document.getElementById("modal_bot_type").value="";
                    document.getElementById("modal_tel_hyouji").style.display="none";
                    document.getElementById("modal_bot_text").value="";
                    document.getElementById("act_id").value="";
                    modal_bot_click();
                })
        });


        // モーダル_アラート解除
        document.getElementById("modal_alert_check").addEventListener("click",function(){
            $.ajax({
                    'url': '{% url "sfa:modal_alert_check" %}',
                    'type': 'POST',
                    'data': {
                        "alert_num":document.getElementById("modal_alert_num").innerText
                    },
                    'dataType': 'json'
                })
                .done(function(response){
                    document.getElementById("modal_alert_num").innerText="";
                    document.getElementById("modal_alert_show").style.display="none";
                })
        });


        // モーダル終了
        btns=document.getElementsByName("modal_btn_close");
        for (var i=0;i<btns.length;i++){
            btns[i].addEventListener("click",function(){
                window.location.reload();
            })
        };
        

        // 顧客詳細ボタン
        var item=document.getElementsByName("crm_list");
        for (var i=0; i<item.length; i++){
            item[i].addEventListener("click",function(){
                $.ajax({
                    'url': '{% url "sfa:kokyaku_detail_api" %}',
                    'type': 'POST',
                    'data': {"cus_id":this.id},
                    'dataType': 'json'
                })
                .done(function(response){
                    window.open("{% url 'crm:kokyaku_api' %}", '_blank');
                })
            },false)
        };


        // サンクスメール
        document.getElementById("btn_mw").addEventListener("click",function(){
            var item=document.getElementsByName("mw_list");
            var mw_list=[];
            for (var i=0; i<item.length; i++){
                if (item[i].checked && item[i].disabled==false){
                    mw_list.push(item[i].id);
                };
            };
            if (mw_list.length==0){
                window.alert("対象がチェックされていません！");
                return
            }
            mw_list=JSON.stringify(mw_list);
            $.ajax({
                    'url': '{% url "sfa:mw_add" %}',
                    'type': 'POST',
                    'data': {"mw_list":mw_list},
                    'dataType': 'json'
            })
            .done(function(response){
                window.alert("リストに追加しました！");
                window.location.reload();
            })
        });


        // サンクス_全チェック
        var mw_check_all = document.getElementById("mw_check_all");
        mw_check_all.addEventListener("click",function(){
            var che=document.getElementsByName("mw_list");
            for (var i=0; i<che.length; i++){
                if (mw_check_all.checked){
                    che[i].checked=true;
                } else {
                    if (che[i].disabled == false){
                        che[i].checked=false;
                    };
                };
            };
        });


        // 非表示設定
        document.getElementById("btn_show").addEventListener("click",function(){
            var item=document.getElementsByName("show_list");
            var show_list=[];
            for (var i=0; i<item.length; i++){
                if (item[i].checked){
                    show_list.push(item[i].id);
                };
            };
            if (show_list.length==0){
                window.alert("対象がチェックされていません！");
                return
            }
            var ans =confirm("本当に「非表示」にしますか？");
            if (ans == false){
                return
            };
            show_list=JSON.stringify(show_list);
            $.ajax({
                    'url': '{% url "sfa:show_list_direct" %}',
                    'type': 'POST',
                    'data': {"show_list":show_list},
                    'dataType': 'json'
            })
            .done(function(response){
                window.location.reload();
            })
        });


        // 非表示_全チェック
        var show_check_all = document.getElementById("show_check_all");
        show_check_all.addEventListener("click",function(){
            var che=document.getElementsByName("show_list");
            for (var i=0; i<che.length; i++){
                if (show_check_all.checked){
                    che[i].checked=true;
                } else {
                    che[i].checked=false;
                };
            };
        });


        // アラート表示ボタン
        document.getElementById("alert_click").addEventListener("click",function(){
            form_clear();
            document.getElementById("alert").checked=true;
            document.form_filter.submit();
        })

    </script>


    <!-- モーダル用 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>