{% load static %}
<!-- メニュー -->
<div class="flex3">
    <div>
        <span><a href="{% url 'sfa:index' %}">案件管理</a></span>
        <span style="margin-left: 50px;"><a href="{% url 'crm:grip_index' %}">グリップ顧客</a></span>
        <span style="margin-left: 50px;"><a href="{% url 'sfa:show_index' %}">案件表示設定</a></span>
        <span style="margin-left: 50px;"><a href="{% url 'sfa:mw_page' %}">【案件】メールワイズ</a></span>
        <span style="margin-left: 50px;"><a href="{% url 'crm:mw_page' %}">【顧客】メールワイズ</a></span>
        <span style="margin-left: 50px;"><a href="{% url 'sfa:kakudo_index' %}">確度集計</a></span>
    </div>
    <div>
        <span style="font-size: 0.9em;">{{act_user}}</span>
    </div>
</div>

