{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="icon" href="{% static 't-shirt_3.gif' %}">
    <title>顧客検索</title>
</head>
<body>

    <div class="mt-3 mb-5">

        <!-- メニュー -->
        <div style="margin: 0 auto; width: 1150px">
            {% include "sfa/menu.html" with act_user=act_user %}
        </div>

        <div style="margin: 0 auto; width: 1370px;">
            <hr>
            <div class="block_title">顧客検索</div>
            <hr>
            <!-- フィルター -->
            <div>
                <form action="{% url 'crm:cus_list_search' %}" method="post" name="form_filter">{% csrf_token %}

                    <div class="flex mt-4">
                        <div>顧客ID：</div>
                        <div><input class="form-control form-control-sm" type="text" id="cus_id" name="cus_id" style="width: 100px;" value="{{ses.cus_id}}"></div>
                        <div style="margin-left: 30px;">会社名：</div>
                        <div><input class="form-control form-control-sm" type="text" id="com" name="com" style="width: 200px;" value="{{ses.com}}"></div>
                        <div style="margin-left: 30px;">姓：</div>
                        <div><input class="form-control form-control-sm" type="text" id="cus_sei" name="cus_sei" style="width: 70px;" value="{{ses.cus_sei}}"></div>
                        <div style="margin-left: 30px;">名：</div>
                        <div><input class="form-control form-control-sm" type="text" id="cus_mei" name="cus_mei" style="width: 70px;" value="{{ses.cus_mei}}"></div>
                        <div style="margin-left: 30px;">電話 / 携帯：</div>
                        <div><input class="form-control form-control-sm" type="text" id="cus_tel" name="cus_tel" style="width: 150px;" value="{{ses.cus_tel}}"></div>
                        <div style="margin-left: 30px;">グリップ担当：</div>
                        <div>
                            <select class="form-select form-select-sm" id="grip_tantou" name="grip_tantou" style="width: 130px;">
                                <option value=""></option>
                                {% for i in member_list %}
                                    {% if i.tantou_id == ses.grip_tantou %}
                                    <option value="{{i.tantou_id}}" selected>{{i.tantou}}</option>
                                    {% else %}
                                    <option value="{{i.tantou_id}}">{{i.tantou}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="flex mt-4">
                        <div>都道府県：</div>
                        <div>
                            <select class="form-select form-select-sm" id="pref" name="pref" style="width: 100px;">
                                {% for i in pref_list %}
                                    {% if i == ses.pref %}
                                    <option value="{{i}}" selected>{{i}}</option>
                                    {% else %}
                                    <option value="{{i}}">{{i}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div style="margin-left: 30px;">メールアドレス：</div>
                        <div><input class="form-control form-control-sm" type="text" id="cus_mail" name="cus_mail" style="width: 270px;" value="{{ses.cus_mail}}"></div>
                        <div style="margin-left: 30px;">最終部署：</div>
                        <div>
                            <select class="form-select form-select-sm" name="busho" id="busho" style="width: 250px;">
                                <option value=""></option>
                                {% for i in busho_list %}
                                    {% if i.0 == ses.busho %}
                                    <option value="{{i.0}}" selected>{{i.1}}</option>
                                    {% else %}
                                    <option value="{{i.0}}">{{i.1}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div style="margin-left: 30px;">最終担当：</div>
                        <div>
                            <select class="form-select form-select-sm" name="tantou" id="tantou" style="width: 150px;">
                                <option value=""></option>
                                {% for i in tantou_list %}
                                    {% if i.0 == ses.tantou %}
                                    <option value="{{i.0}}" selected>{{i.1}}</option>
                                    {% else %}
                                    <option value="{{i.0}}">{{i.1}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="flex">
                        <div class="flex mt-4">
                            <div>顧客登録日：</div>
                            <div><input class="form-control form-control-sm" type="date" id="cus_touroku_st" name="cus_touroku_st" style="width: 120px;" value="{{ses.cus_touroku_st}}"></div>
                            <div style="margin: 0px 10px;">～</div>
                            <div><input class="form-control form-control-sm" type="date" id="cus_touroku_ed" name="cus_touroku_ed" style="width: 120px;" value="{{ses.cus_touroku_ed}}"></div>
                        </div>
                        <div class="flex mt-4" style="margin-left: 30px;">
                            <div>最終見積日：</div>
                            <div><input class="form-control form-control-sm" type="date" id="last_mitsu_st" name="last_mitsu_st" style="width: 120px;" value="{{ses.last_mitsu_st}}"></div>
                            <div style="margin: 0px 10px;">～</div>
                            <div><input class="form-control form-control-sm" type="date" id="last_mitsu_ed" name="last_mitsu_ed" style="width: 120px;" value="{{ses.last_mitsu_ed}}"></div>
                        </div>
                        <div class="flex mt-4" style="margin-left: 30px;">
                            <div>最終受注日：</div>
                            <div><input class="form-control form-control-sm" type="date" id="last_juchu_st" name="last_juchu_st" style="width: 120px;" value="{{ses.last_juchu_st}}"></div>
                            <div style="margin: 0px 10px;">～</div>
                            <div><input class="form-control form-control-sm" type="date" id="last_juchu_ed" name="last_juchu_ed" style="width: 120px;" value="{{ses.last_juchu_ed}}"></div>
                        </div>
                    </div>

                    <div class="flex">
                        <div class="flex mt-4">
                            <div>最終コンタクト日：</div>
                            <div><input class="form-control form-control-sm" type="date" id="last_contact_st" name="last_contact_st" style="width: 120px;" value="{{ses.last_contact_st}}"></div>
                            <div style="margin: 0px 10px;">～</div>
                            <div><input class="form-control form-control-sm" type="date" id="last_contact_ed" name="last_contact_ed" style="width: 120px;" value="{{ses.last_contact_ed}}"></div>
                        </div>
                        <div class="flex mt-4" style="margin-left: 30px;">
                            <div>見積総数：</div>
                            <div><input class="form-control form-control-sm" type="number" id="mitsu_all_st" name="mitsu_all_st" style="width: 60px;" value="{{ses.mitsu_all_st}}"></div>
                            <div style="margin: 0px 10px;">～</div>
                            <div><input class="form-control form-control-sm" type="number" id="mitsu_all_ed" name="mitsu_all_ed" style="width: 60px;" value="{{ses.mitsu_all_ed}}"></div>
                        </div>
                        <div class="flex mt-4" style="margin-left: 30px;">
                            <div>受注総数：</div>
                            <div><input class="form-control form-control-sm" type="number" id="juchu_all_st" name="juchu_all_st" style="width: 60px;" value="{{ses.juchu_all_st}}"></div>
                            <div style="margin: 0px 10px;">～</div>
                            <div><input class="form-control form-control-sm" type="number" id="juchu_all_ed" name="juchu_all_ed" style="width: 60px;" value="{{ses.juchu_all_ed}}"></div>
                        </div>
                        <div class="flex mt-4" style="margin-left: 30px;">
                            <div>受注総金額：</div>
                            <div><input class="form-control form-control-sm" type="number" id="juchu_money_st" name="juchu_money_st" style="width: 100px;" value="{{ses.juchu_money_st}}"></div>
                            <div style="margin: 0px 10px;">～</div>
                            <div><input class="form-control form-control-sm" type="number" id="juchu_money_ed" name="juchu_money_ed" style="width: 100px;" value="{{ses.juchu_money_ed}}"></div>
                        </div>
                        
                    </div>

                    <div class="flex mt-4">
                        <div class="flex">
                            <div>顧客タイプ：</div>
                            <div style="margin-left: -20px;">
                                {% for key,val in cus_kubun.items %}
                                    {% if key in ses.cus_kubun %}
                                        <input class="form-check-input" type="checkbox" style="margin-left: 20px;" name="cus_kubun" value="{{key}}" checked> {{val}}
                                    {% else %}
                                        <input class="form-check-input" type="checkbox" style="margin-left: 20px;" name="cus_kubun" value="{{key}}"> {{val}}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="flex mt-4">
                        <div class="form-check">
                            {% if ses.grip %}
                            <input class="form-check-input" type="checkbox" id="grip" name="grip" checked>グリップ顧客
                            {% else %}
                            <input class="form-check-input" type="checkbox" id="grip" name="grip">グリップ顧客
                            {% endif %}
                        </div>
                        <!-- <div class="form-check" style="margin-left: 30px;">
                            {% if ses.royal %}
                            <input class="form-check-input" type="checkbox" id="royal" name="royal" checked>ロイヤルカスタマー
                            {% else %}
                            <input class="form-check-input" type="checkbox" id="royal" name="royal">ロイヤルカスタマー
                            {% endif %}
                        </div> -->
                        <div class="form-check" style="margin-left: 30px;">
                            {% if ses.taimen %}
                            <input class="form-check-input" type="checkbox" id="taimen" name="taimen" checked>対面あり
                            {% else %}
                            <input class="form-check-input" type="checkbox" id="taimen" name="taimen">対面あり
                            {% endif %}
                        </div>
                        <div class="form-check" style="margin-left: 30px;">
                            {% if ses.group %}
                            <input class="form-check-input" type="checkbox" id="group" name="group" checked>グループ設定
                            {% else %}
                            <input class="form-check-input" type="checkbox" id="group" name="group">グループ設定
                            {% endif %}
                        </div>
                        <div style="margin-left: 30px;">アプローチリスト：</div>
                        <div>
                            <select class="form-select form-select-sm" id="apr_list" name="apr_list" style="width: 350px;">
                                <option value=""></option>
                                {% for i,h in apr_list.items %}
                                    {% if i == ses.apr_list %}
                                    <option value="{{i}}" selected>{{h}}</option>
                                    {% else %}
                                    <option value="{{i}}">{{h}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div style="margin-left: 30px;">
                            <button type="submit" class="btn btn-secondary"><i class="bi bi-search"></i> 検索</button>
                        </div>
                        <div style="margin-left: 30px;">
                            <button class="btn btn-outline-dark" id="form_clear"><i class="bi bi-eraser"></i> 詳細クリア</button>
                        </div>
                    </div>
 
                </form>
            </div>
            <hr>

            <!-- 顧客一覧 -->
            <div style="margin-top: 15px;">

                <div class="flex3">
                    <div>検索結果：{{result | intcomma}}件</div>
                    <div class="flex mail mb-2">
                        {% if act_user != "担当者が未設定です" %}
                        <div><button class="btn btn-outline-primary btn-sm" type="button" id="btn_mw"><i class="bi bi-envelope-fill"></i> メールワイズ作成</button></div>
                        <div style="width: 28px; margin-left: 10px;"><input class="form-check-input" type="checkbox" id="mw_check_all"></div>
                        {% endif %}
                    </div>
                </div>

                {% for i in cus_list %}

                <div class="flex sfa_main" style="background-color: #FFF;">

                    <div style="width: 90px;">
                        <a href="{{i.cus_url}}" target="_blank"><span style="color: #ee827c;"><i class="bi bi-box-arrow-up-right"></i></span></a> {{i.cus_id}}
                    </div>
                    <div style="width: 30px;">
                        {% if i.grip_tantou_id != "" %}
                            {% for h in member_list %}
                                {% if i.grip_tantou_id == h.tantou_id %}
                                <span style="color: green; font-size: 1.2em; cursor: pointer;" title="{{h.busho}}：{{h.tantou}}"><i class="bi bi-flag-fill"></i></span>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div style="width: 30px;">
                        {% if i.royal == 1 %}
                        <span style="color: #ff9900; font-size: 1.2em;" title="ロイヤルカスタマー"><i class="bi bi-trophy-fill"></i></span>
                        {% endif %}
                    </div>
                    <div style="width: 30px;">
                        {% if i.taimen %}
                        <span style="color: #ff3502; font-size: 1.2em;" title="対面あり"><i class="bi bi-shop"></i></span>
                        {% endif %}
                    </div>
                    <div style="width: 30px;">
                        {% if i.cus_id in li_parent %}
                        <span style="color: red; font-size: 1.2em;" title="グループ：親設定"><i class="bi bi-google"></i></span>
                        {% elif i.cus_id in li_child %}
                        <span style="color: blue; font-size: 1.2em;" title="グループ：子設定"><i class="bi bi-google"></i></span>
                        {% endif %}
                    </div>
                    <div style="width: 70px;">{% if i.pref%}{{i.pref}}{% endif %}</div>
                    <div style="width: 220px;">{% if i.com %}{{i.com | truncatechars:14}}{% endif %}</div>
                    <div style="width: 120px;">{% if i.sei %}{{i.sei}}{% endif %} {% if i.mei %}{{i.mei}}{% endif %}</div>
                    <div style="width: 80px;">
                        {% if i.juchu_all >= 50 %}
                            <span style="color: #ff3737;"><i class="bi bi-bar-chart-line-fill"></i></span>
                        {% elif i.juchu_all >= 20 %}
                            <span style="color: #4245ff;"><i class="bi bi-bar-chart-line-fill"></i></span>
                        {% else %}
                            <span style="color: #dadada;"><i class="bi bi-bar-chart-line-fill"></i></span>
                        {% endif %}
                         {{i.juchu_all}}回</div>
                    <div style="width: 120px;">{{i.juchu_money | intcomma}}円</div>
                    <div style="width: 140px;" class="flex">
                        <div class="order_use">受</div>
                        <div style="margin-left: 7px;">{% if i.juchu_last %}{{i.juchu_last}}{% endif %}</div>
                    </div>
                    <div style="width: 140px;" class="flex">
                        <div class="order_use">接</div>
                        <div style="margin-left: 7px;">{% if i.contact_last %}{{i.contact_last}}{% endif %}</div>
                    </div>
                    <div style="width: 190px; font-size: 0.9em;">
                        {% if i.mitsu_last_tantou %}<i class="bi bi-person-circle"></i> {{i.mitsu_last_busho}}：{{i.mitsu_last_tantou}}{% endif %}
                    </div>
                    <div style="width: 45px;" id="{{i.cus_id}}" name="crm_list">
                        {% if i.cus_id != None %}
                        <button type="button" class="btn btn-outline-success btn-sm" style="border-radius: 50%;">
                            <i class="bi bi-person-square"></i>
                        </button>
                        {% endif %}
                    </div>
                    <div>
                        {% if i.mw == 0 %}
                        <input class="form-check-input" type="checkbox" id="{{i.cus_id}}" name="mw_list">
                        {% else %}
                        <input class="form-check-input" type="checkbox" id="{{i.cus_id}}" name="mw_list" checked disabled>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- ページネーション -->
        <div style="margin: 0 auto;">
            <nav aria-label="Page navigation example">
                <ul class="pagination mt-4">
                <li class="page-item"><a class="page-link" href="{% url 'crm:cus_list_page_first' %}">最初へ</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'crm:cus_list_page_prev' %}">前へ</a></li>
                <li class="page-item"><a class="page-link" pointer-events: none;>{{num}}/{{all_num}}</a></li>               
                <li class="page-item"><a class="page-link" href="{% url 'crm:cus_list_page_next' %}">次へ</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'crm:cus_list_page_last' %}">最後へ</a></li> 
                </ul>
            </nav>
        </div>

    </div>


      

    <!-- 各種Ajax -->
    <script>

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i <cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
  
        var csrftoken = getCookie('csrftoken');
  
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
  
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
  

        // 部署選択
        document.getElementById("busho").addEventListener("change",function(){
            $.ajax({
                    'url': '{% url "crm:cus_list_busho" %}',
                    'type': 'POST',
                    'data': {
                        "busho_id":document.getElementById("busho").value,
                    },
                    'dataType': 'json'
                })
                .done(function(response){
                    tantou_list=response.tantou_list;
                    var str="<option value=''></option>";
                    for (var i of tantou_list){
                        str=str+"<option value='" + i[0]+ "'>" + i[1] + "</option>"
                    };
                    document.getElementById("tantou").innerHTML=str;
                })
        });


        // フォームクリア
        function form_clear(){
            document.getElementById("cus_id").value="";
            document.getElementById("com").value="";
            document.getElementById("cus_sei").value="";
            document.getElementById("cus_mei").value="";
            document.getElementById("cus_tel").value="";
            document.getElementById("pref").value="";
            document.getElementById("cus_mail").value="";
            document.getElementById("busho").value="";
            document.getElementById("tantou").value="";
            document.getElementById("grip_tantou").value="";
            document.getElementById("cus_touroku_st").value="";
            document.getElementById("cus_touroku_ed").value="";
            document.getElementById("last_mitsu_st").value="";
            document.getElementById("last_mitsu_ed").value="";
            document.getElementById("last_juchu_st").value="";
            document.getElementById("last_juchu_ed").value="";
            document.getElementById("last_contact_st").value="";
            document.getElementById("last_contact_ed").value="";
            document.getElementById("mitsu_all_st").value="";
            document.getElementById("mitsu_all_ed").value="";
            document.getElementById("juchu_all_st").value="";
            document.getElementById("juchu_all_ed").value="";
            document.getElementById("juchu_money_st").value="";
            document.getElementById("juchu_money_ed").value="";
            document.getElementById("grip").checked=false;
            // document.getElementById("royal").checked=false;
            document.getElementById("taimen").checked=false;
            document.getElementById("group").checked=false;
            document.getElementById("apr_list").value="";

            var kubun=document.getElementsByName("cus_kubun");
            for (var i=0; i<kubun.length; i++){
                kubun[i].checked=false;
            }
        }

        // 詳細クリアボタン
        document.getElementById("form_clear").addEventListener("click",function(e){
            e.preventDefault();
            form_clear();
        })


        // 顧客詳細ボタン
        var item=document.getElementsByName("crm_list");
        for (var i=0; i<item.length; i++){
            item[i].addEventListener("click",function(){
                $.ajax({
                    'url': '{% url "sfa:kokyaku_detail_api" %}',
                    'type': 'POST',
                    'data': {"cus_id":this.id},
                    'dataType': 'json'
                })
                .done(function(response){
                    window.open("{% url 'crm:kokyaku_api' %}", '_blank');
                })
            },false)
        };


        // メールワイズ
        document.getElementById("btn_mw").addEventListener("click",function(){
            var item=document.getElementsByName("mw_list");
            var mw_list=[];
            for (var i=0; i<item.length; i++){
                if (item[i].checked && item[i].disabled==false){
                    mw_list.push(item[i].id);
                };
            };
            if (mw_list.length==0){
                window.alert("対象がチェックされていません！");
                return
            }
            mw_list=JSON.stringify(mw_list);
            $.ajax({
                    'url': '{% url "crm:mw_add" %}',
                    'type': 'POST',
                    'data': {"mw_list":mw_list},
                    'dataType': 'json'
            })
            .done(function(response){
                window.alert("リストに追加しました！");
                window.location.reload();
            })
        });


        // メールワイズ_全チェック
        var mw_check_all = document.getElementById("mw_check_all");
        mw_check_all.addEventListener("click",function(){
            var che=document.getElementsByName("mw_list");
            for (var i=0; i<che.length; i++){
                if (mw_check_all.checked){
                    che[i].checked=true;
                } else {
                    if (che[i].disabled == false){
                        che[i].checked=false;
                    };
                };
            };
        });



    </script>

</body>
</html>