{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jkanban@1.3.1/dist/jkanban.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jkanban@1.3.1/dist/jkanban.min.js"></script>
    <link rel="icon" href="{% static 't-shirt_3.gif' %}">
    <title>法人チーム　新規開拓ボード</title>
</head>
<body>

    <div class="mt-3 mb-5">

        <!-- メニュー -->
        <div style="margin: 0 auto; width: 1150px">
            {% include "sfa/menu.html" with act_user=act_user %}
        </div>

        <div style="margin: 0 auto; width: 1300px;">
            <hr>
            <div class="flex3">
                <div class="block_title">法人チーム　新規開拓ボード</div>
                <div class="flex">
                    <div>
                        <button type="button" class="btn btn-outline-dark" id="csv_import" data-bs-toggle="modal" data-bs-target="#modal_gaishou_imp">
                            <i class="bi bi-plus-lg"></i> CSVインポート
                        </button>
                    </div>
                    <div style="margin-left: 30px;">
                        <button type="button" class="btn btn-outline-dark" id="csv_export" data-bs-toggle="modal" data-bs-target="#modal_gaishou_csv">
                            <i class="bi bi-download"></i> カイタク報告用
                        </button>
                    </div>
                </div>
            </div>
            <hr>
            <!-- フィルター -->
            <div>
                <form action="{% url 'houjin:houjin_gaishou_search' %}" method="post" name="form_filter">{% csrf_token %}

                    <div class="flex">
                        <div>部署：</div>
                        <div>
                            <select class="form-select form-select-sm" name="busho" id="busho" style="width: 120px;">
                                {% for k,v in busho_list.items %}
                                    {% if k == ses.busho %}
                                    <option value="{{k}}" selected>{{v}}</option>
                                    {% else %}
                                    <option value="{{k}}">{{v}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>   
                        </div>
                        <div style="margin-left: 30px;">担当者：</div>
                        <div>
                            <select class="form-select form-select-sm" name="tantou" id="tantou" style="width: 120px;">
                                <option value=""></option>
                                {% for i in tantou_list %}
                                    {% if i.tantou_id == ses.tantou %}
                                    <option value="{{i.tantou_id}}" selected>{{i.tantou}}</option>
                                    {% else %}
                                    <option value="{{i.tantou_id}}">{{i.tantou}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>   
                        </div>
                        <div style="margin-left: 30px;">委託先：</div>
                        <div>
                            <select class="form-select form-select-sm" name="kubun" id="kubun" style="width: 120px;">
                                <option value=""></option>
                                {% for i in kubun_list %}
                                    {% if i == ses.kubun %}
                                    <option value="{{i}}" selected>{{i}}</option>
                                    {% else %}
                                    <option value="{{i}}">{{i}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>   
                        </div>
                        <div style="margin-left: 30px;">会社名：</div>
                        <div><input class="form-control form-control-sm" type="text" id="com" name="com" style="width: 200px;" value="{{ses.com}}"></div>
                        <div style="margin-left: 30px;">名前：</div>
                        <div><input class="form-control form-control-sm" type="text" id="name" name="name" style="width: 120px;" value="{{ses.name}}"></div>
                    </div>

                    <div class="flex mt-4">
                        <div>メールアドレス：</div>
                        <div><input class="form-control form-control-sm" type="text" id="mail" name="mail" style="width: 250px;" value="{{ses.mail}}"></div>
                        <div style="margin-left: 30px;">電話番号：</div>
                        <div><input class="form-control form-control-sm" type="text" id="tel" name="tel" style="width: 130px;" value="{{ses.tel}}"></div>
                    </div>

                    <div class="flex mt-4">
                        <div>受信日：</div>
                        <div><input class="form-control form-control-sm" type="date" id="day_st" name="day_st" style="width: 120px;" value="{{ses.day_st}}"></div>
                        <div style="margin: 0px 10px;">～</div>
                        <div><input class="form-control form-control-sm" type="date" id="day_ed" name="day_ed" style="width: 120px;" value="{{ses.day_ed}}"></div>
                        <div style="margin-left: 30px;">最終アクション日：</div>
                        <div><input class="form-control form-control-sm" type="date" id="act_st" name="act_st" style="width: 120px;" value="{{ses.act_st}}"></div>
                        <div style="margin: 0px 10px;">～</div>
                        <div><input class="form-control form-control-sm" type="date" id="act_ed" name="act_ed" style="width: 120px;" value="{{ses.act_ed}}"></div>

                        <div style="margin-left: 50px;">
                            <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i> 検索</button>
                        </div>
                        <div style="margin-left: 20px;">
                            <button class="btn btn-outline-dark" id="form_clear" type="button">クリア</button>
                        </div>
                    </div>

                </form>
            </div>
            <hr>

            <!-- カンバン -->
            <div class="inlineframe_houjin" style="width: 1300px; height: 800px;">
                <div id="kanban-canvas"></div>
            </div>


            


            <!-- <div style="width: 250px; margin-top: 100px;">
                <div class="houjin_card_3">

                    <div class="flex">
                        <div style="width: 70px;">
                            <div class="houjin_tantou houjin_tantou_osaka" style="font-size: 0.9em;">夏八木</div>
                        </div>
                        <div style="font-size: 0.9em;">
                            <div>受信：2025-05-12 13:54</div>
                            <div>委託：active call</div>
                        </div>
                    </div>

                    <div style="margin-top: 10px;">
                        <div style="font-weight: bold;">株式会社プラスワンインターナショナル</div>
                        <div style="font-weight: bold;">DX</div>
                        <div style="font-weight: bold;">川村一史</div>
                    </div>
                    
                    <div style="font-size: 0.9em;">
                        <div style="margin-top: 5px;">
                            <button type="button" class="btn btn-success btn-sm" id="{{i.mitsu_id}}" name="sfa_list" data-bs-toggle="modal" data-bs-target="#modal_gaishou">
                                <i class='bi bi-pencil-square'></i> 詳細を確認 / 編集する
                            </button>
                        </div>
                        <div style="margin-top: 5px;">
                            <div class="flex">
                                <div style="width: 60px;">担当者：</div>
                                <div>田中</div>
                            </div>
                            <div class="flex">
                                <div style="width: 60px;">更新日：</div>
                                <div>2025-08-30 12:54:35</div>
                            </div>
                            <div>【備考】</div>
                            <div>
                                <textarea style="width: 100%; font-size: 0.9em;" rows="3" readonly>
                                    8/6（水）カタログ、資料送付対応8/19（火）再TEL検討はまだなし<br>
                                    8/6（水）カタログ、資料送付対応8/19（火）再TEL検討はまだなし
                                </textarea>
                            </div>
                        </div>
                    </div> 
                </div>
            </div> -->


                
            <!-- モーダル -->
            <div class="modal fade" id="modal_gaishou" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <!-- HEADER -->
                        <div class="modal-header">
                            <div id="exampleModalLabel"></div>
                            <div id="modal_gaishou_id" style="display: none;"></div>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <!-- BODY -->
                        <div class="modal-body" style="font-size: 0.9em;">
                            <div class="flex2">

                                <!-- 左カラム -->
                                <div style="width: 550px; margin-left: 20px;">
                                    <table class="table table-bordered">
                                        <tr><th style="width: 110px;">受信日時</th><td id="modal_recieve_day"></td></tr>
                                        <tr><th>区分</th><td id="modal_kubun"></td></tr>
                                        <tr><th>会社</th><td id="modal_houjin_com"></td></tr>
                                        <tr><th>部署</th><td id="modal_houjin_busho"></td></tr>
                                        <tr><th>担当者</th><td id="modal_houjin_tantou"></td></tr>
                                        <tr><th>住所</th><td id="modal_houjin_address"></td></tr>
                                        <tr><th>電話番号</th><td id="modal_houjin_tel"></td></tr>
                                        <tr><th>メールアドレス</th><td id="modal_houjin_mail"></td></tr>
                                        <tr><td id="modal_houjin_comment" colspan="2" style="line-height: 160%;"></td></tr>
                                    </table>
                                </div>

                                <!-- 右カラム -->
                                <div style="margin-left: 50px; width: 450px;">
                                    <div>
                                        <div class="flex">
                                            <div>■部署：</div>
                                            <div>
                                                <select class="form-select form-select-sm" id="modal_busho_id" style="width: 120px;">
                                                    {% for k,v in busho_list.items %}
                                                    <option value="{{k}}">{{v}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div style="margin-left: 30px;">■担当：</div>
                                            <div>
                                                <select class="form-select form-select-sm" id="modal_tantou_id" style="width: 120px;">
                                                    <option value=""></option>
                                                    {% for i in tantou_list %}
                                                    <option value="{{i.tantou_id}}">{{i.tantou}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="flex" style="margin-top: 15px;">
                                            <div>■最終アクション日：</div>
                                            <div>
                                                <input class="form-control form-control-sm" type="date" id="modal_last_act" style="width: 120px;" value="{{i.last_act}}">
                                            </div>
                                        </div>
                                        <div style="margin-top: 15px;">■備考</div>
                                        <div style="margin-top: 5px;">
                                            <textarea id="modal_p1_bikou" class="form-control" rows="5"></textarea>
                                        </div>
                                    </div>
                                    <div id="modal_kaitaku">
                                        <div class="flex" style="margin-top: 30px;">
                                            <div>■内容（カイタク用）：</div>
                                            <div>
                                                <select class="form-select form-select-sm" id="modal_itaku_result" >
                                                    {% for i in itaku_result %}
                                                    <option value="{{i}}">{{i}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div style="margin-top: 10px;">■メモ（カイタク用）</div>
                                        <div style="margin-top: 5px;"><textarea id="modal_itaku_bikou" class="form-control" rows="5"></textarea></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="modal_save">保存する</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- モーダル2　CSV出力 -->
            <div class="modal fade" id="modal_gaishou_csv" tabindex="-1" role="dialog" aria-labelledby="modal_2" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div><h5 class="modal-title">対象の受信日を指定してください。</h5></div>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'houjin:houjin_gaishou_csv' %}" method="post">{% csrf_token %}
                                <div class="flex">
                                    <div>受信日：</div>
                                    <div><input class="form-control form-control-sm" type="date" id="csv_day_st" name="csv_day_st" style="width: 120px;" required></div>
                                    <div style="margin: 0px 10px;">～</div>
                                    <div><input class="form-control form-control-sm" type="date" id="csv_day_ed" name="csv_day_ed" style="width: 120px;" required></div>
                                    <div style="margin-left: 30px;">
                                        <button type="submit" class="btn btn-primary">出力する</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- モーダル3　CSV取込 -->
            <div class="modal fade" id="modal_gaishou_imp" tabindex="-1" role="dialog" aria-labelledby="modal_3" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div><h5 class="modal-title">インポートするCSVファイルを指定してください。</h5></div>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'houjin:houjin_gaishou_imp' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                                <div class="flex" style="margin-top: 15px;">
                                    <div><input type="text" name="imp_type" value="1" style="display: none;"></div>
                                    <div><input class="form-control" type="file" name="csv3" style="width: 350px;" required></div>
                                    <div style="margin-left: 30px;"><button type="submit" class="btn btn-primary">取込</button></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
  
    </div>


      

    <!-- 各種Ajax -->
    <script>

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i <cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
  
        var csrftoken = getCookie('csrftoken');
  
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
  
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        


        // ロード時に実行
        window.onload=function(){
            $.ajax({
                'url': '{% url "houjin:houjin_gaishou_load" %}',
                'type': 'POST',
            })
            .done(function(response){
                dataContent=response.dataContent;

                new jKanban({
                    element: '#kanban-canvas',  // カンバンを表示する場所のID
                    boards: dataContent,        // カンバンに表示されるカラムやカードのデータ
                    gutter: '10px',             // カンバンの余白
                    widthBoard: '270px',        // カラムの幅 (responsivePercentageの「true」設定により無視される)
                    responsivePercentage: false, // trueを選択時はカラム幅は％で指定され、gutterとwidthBoardの設定は不要
                    dragItems: true,            // trueを選択時はカードをドラッグ可能
                    dragBoards: false,            // カラムをドラッグ可能にするかどうか

                    
                    // ボードの移動後に発生
                    dropEl: function (el, target, source, sibling) {
                        onKanbanItemDropped(el, target, source, sibling);
                    },

                });
                
                // カラム内のpadding
                var items=document.querySelectorAll('.kanban-drag');
                for (i=0; i<items.length; i++){
                    items[i].style.padding="5px";
                }

                // カード内のpadding
                var items=document.querySelectorAll('.kanban-item');
                for (i=0; i<items.length; i++){
                    items[i].style.padding="0px";
                }

            })
            
        }

        function onKanbanItemDropped(el, target, source, sibling) {
            var target_column = target.parentNode.dataset.id; // 移動先カラムのID
            var items = Array.from(target.querySelectorAll(".kanban-item"));

            col_index=[]
            for (var i=0; i<items.length; i++){
                col_index.push(items[i].getAttribute("data-eid"));
            }
            
            $.ajax({
                'url': '{% url "houjin:houjin_gaishou_move" %}',
                'type': 'POST',
                'data': {
                    "target_column":target_column,
                    "col_index":JSON.stringify(col_index),
                },
                'dataType': 'json'
            })
            .done(function(response){
                col_count=response.col_count;
                for (var i of col_count){
                    document.getElementById("column_" + i.split("_")[0] + "_count").innerText = i.split("_")[1]; 
                }
            })
        }


        // 部署選択
        document.getElementById("busho").addEventListener("change",function(){
            $.ajax({
                    'url': '{% url "houjin:houjin_gaishou_busho" %}',
                    'type': 'POST',
                    'data': {
                        "busho":document.getElementById("busho").value,
                    },
                    'dataType': 'json'
                })
                .done(function(response){
                    tantou=response.tantou;
                    var str="<option value=''></option>";
                    for (var i of tantou){
                        str=str+"<option value='" + i.tantou_id + "'>" + i.tantou + "</option>"
                    };
                    document.getElementById("tantou").innerHTML=str;
                })
        });


        // 部署選択_モーダル
        document.getElementById("modal_busho_id").addEventListener("change",function(){
            $.ajax({
                    'url': '{% url "houjin:houjin_gaishou_busho" %}',
                    'type': 'POST',
                    'data': {
                        "busho":document.getElementById("modal_busho_id").value,
                    },
                    'dataType': 'json'
                })
                .done(function(response){
                    tantou=response.tantou;
                    var str="<option value=''></option>";
                    for (var i of tantou){
                        str=str+"<option value='" + i.tantou_id + "'>" + i.tantou + "</option>"
                    };
                    document.getElementById("modal_tantou_id").innerHTML=str;
                })
        });


        // フォームクリア
        document.getElementById("form_clear").addEventListener("click",function(){
            document.getElementById("busho").value="";
            document.getElementById("tantou").value="";
            document.getElementById("kubun").value="";
            document.getElementById("com").value="";
            document.getElementById("name").value="";
            document.getElementById("tel").value="";
            document.getElementById("mail").value="";
            document.getElementById("day_st").value="";
            document.getElementById("day_ed").value="";
            document.getElementById("act_st").value="";
            document.getElementById("act_ed").value="";
        })


        // 詳細モーダル
        $("#modal_gaishou").on("show.bs.modal", function (event) {
            var item=document.getElementsByName("gaishou_boad");
            for (var i=0; i<item.length; i++){
                item[i].addEventListener("click",function(){
                    $.ajax({
                        'url': '{% url "houjin:houjin_gaishou_detail" %}',
                        'type': 'POST',
                        'data': {"gaishou_id":this.id},
                        'dataType': 'json'
                    })
                    .done(function(response){
                        res=response.detail;
                        document.getElementById("modal_gaishou_id").innerText=res.id;
                        document.getElementById("modal_recieve_day").innerText=res.recieve_day;
                        document.getElementById("modal_kubun").innerText=res.kubun;
                        document.getElementById("modal_houjin_com").innerText=res.houjin_com;
                        document.getElementById("modal_houjin_busho").innerText=res.houjin_busho;
                        document.getElementById("modal_houjin_tantou").innerText=res.houjin_tantou;
                        document.getElementById("modal_houjin_address").innerText=res.houjin_address;
                        document.getElementById("modal_houjin_tel").innerText=res.houjin_tel;
                        document.getElementById("modal_houjin_mail").innerText=res.houjin_mail;
                        document.getElementById("modal_houjin_comment").innerText=res.houjin_comment;
                        document.getElementById("modal_busho_id").value=res.busho_id;
                        // document.getElementById("modal_tantou_id").value=res.tantou_id;
                        document.getElementById("modal_last_act").value=res.last_act;
                        document.getElementById("modal_p1_bikou").value=res.bikou;
                        document.getElementById("modal_itaku_bikou").value=res.itaku_bikou;
                        document.getElementById("modal_itaku_result").value=res.itaku_result;

                        
                        var tantou_list=document.getElementById("modal_tantou_id");
                        var str="<option value=''></option>";
                        for (var i of response.modal_tantou_list){
                            str=str + "<option value='" + i.tantou_id + "'>" + i.tantou + "</option>"
                        }
                        tantou_list.innerHTML=str;
                        tantou_list.value=res.tantou_id;

                        var kaitaku=document.getElementById("modal_kaitaku");
                        if (res.kubun == "カイタク"){
                            kaitaku.style.display="block";
                        } else {
                            kaitaku.style.display="none";
                        }
                    })
                },false)
            };
        });


        // モーダル保存
        document.getElementById("modal_save").addEventListener("click",function(){
            var busho_id=document.getElementById("modal_busho_id").value;
            var tantou_id=document.getElementById("modal_tantou_id").value;
            if (busho_id != "" && tantou_id == ""){
                window.alert("担当者を設定してください！");
                return
            }
            $.ajax({
                'url': '{% url "houjin:houjin_gaishou_save" %}',
                'type': 'POST',
                'data': {
                    "gaishou_id":document.getElementById("modal_gaishou_id").innerText,
                    "busho_id":busho_id,
                    "tantou_id":tantou_id,
                    "last_act":document.getElementById("modal_last_act").value,
                    "bikou":document.getElementById("modal_p1_bikou").value,
                    "itaku_result":document.getElementById("modal_itaku_result").value,
                    "itaku_bikou":document.getElementById("modal_itaku_bikou").value,
                },
                'dataType': 'json'
            })
            .done(function(response){
                window.alert("内容を保存しました！");
                window.location.reload();
            })
        })


    </script>

    <!-- モーダル用 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>



</body>
</html>