.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.flex2 {
    display: flex;
    flex-wrap: wrap;
}

/* CRM */
.inlineframe {
    margin-top: 10px;
    padding: 5px;
    background-color:#FFFFFF;
    overflow:auto;
    overflow-y:scroll;
    overflow-x:hidden;
}
.main0 {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    padding: 10px 10px;
    margin-top: 10px;
    font-size: 0.9em;
    width: 570px;
    cursor: pointer;
}
.main1 {
    background: #e4f4fa;
    border-left: solid 5px #27acd9;
    border-bottom: solid 0.5px #27acd9;
}
.main2 {
    background: #eeeeee;
    border-left: solid 5px #646565;;
    border-bottom: solid 0.5px #646565;;
}
.main3 {
    background: #ffeed8;
    border-left: solid 5px #e28001;
    border-bottom: solid 0.5px #e28001;
}
.main4 {
    background: #ffdae5;
    border-left: solid 5px #ff3e78;
    border-bottom: solid 0.5px #ff3e78;
}
.main5 {
    background: #ddf9d3;
    border-left: solid 5px #60b664;
    border-bottom: solid 0.5px #60b664;
}
.main6 {
    background: #fedaff;
    border-left: solid 5px #c701ce;
    border-bottom: solid 0.5px #c701ce;
}
.title {
    background-color: #dee2e6;
    width: 150px;
    padding: 0.5em;
    border-radius: 0.5em;
    text-align: center;
}

/* SFA */
.order {
    color:white;
    width: 40px;
    padding: 0 0.2em;
    border-radius: 0.2em;
    text-align: center;
}
.order_1 {
    background-color: red;
    border: 1px solid #686868;
}
.order_2 {
    background-color: blue;
    border: 1px solid #686868;
}
.order_3 {
    background-color: green;
    border: 1px solid #686868;
}
.order_use {
    background-color: white;
    border: 1px solid #686868;
    width: 20px;
    padding: 0 0.2em;
    border-radius: 0.2em;
    text-align: center;
}
.status {
    background-color: white;
    color:#686868;
    border: 1px solid #686868;
    width: 80px;
    padding: 0 0.2em;
    border-radius: 1em;
    text-align: center;
}
.kakudo {
    background-color: white;
    width: 25px;
    padding: 0 0.2em;
    border-radius: 0.2em;
    text-align: center;
}
.kakudo_A {
    color:red;
    border: 1px solid red;
}
.kakudo_B {
    color:blue;
    border: 1px solid blue;
}
.kakudo_C {
    color:green;
    border: 1px solid green;
}