.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.flex2 {
    display: flex;
    flex-wrap: wrap;
}
.flex3 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/* CRM */
.inlineframe {
    margin-top: 10px;
    padding: 5px;
    background-color:#FFFFFF;
    overflow:auto;
    overflow-y:scroll;
    overflow-x:hidden;
}
.main0 {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    padding: 10px 10px;
    margin-top: 10px;
    font-size: 0.9em;
    width: 570px;
    cursor: pointer;
}
.main1 {
    background: #e0f7ff;
    border-left: solid 5px #27acd9;
    border-bottom: solid 0.5px #27acd9;
}
.main2 {
    background: #eeeeee;
    border-left: solid 5px #646565;;
    border-bottom: solid 0.5px #646565;;
}
.main3 {
    background: #ffeed8;
    border-left: solid 5px #e28001;
    border-bottom: solid 0.5px #e28001;
}
.main4 {
    background: #ffdae5;
    border-left: solid 5px #ff3e78;
    border-bottom: solid 0.5px #ff3e78;
}
.main5 {
    background: #ddf9d3;
    border-left: solid 5px #60b664;
    border-bottom: solid 0.5px #60b664;
}
.main6 {
    background: #fedaff;
    border-left: solid 5px #c701ce;
    border-bottom: solid 0.5px #c701ce;
}
.main7 {
    background: #fdffa5;
    border-left: solid 5px #c0c400;
    border-bottom: solid 0.5px #c0c400;
}
.title {
    background-color: #dee2e6;
    width: 150px;
    padding: 0.5em;
    border-radius: 0.5em;
    text-align: center;
}

/* SFA */
.sfa_main{
    padding: 0.5em 0.5em;
    margin-top: 0.5em;
    border: solid 0.5px #b1b6bb;
    border-bottom: solid 2px #c2c3c5;
    box-shadow: 0px 1px 2px rgb(150 150 150 / 25%);
    border-radius: 9px;
    font-size: 0.9em;
}
.bell {
    border-radius: 50%;
    background: red;
    color: yellow;
    padding: 0 0.2em;
    text-align: center;
    vertical-align: middle;
}
.order {
    background-color:white;
    width: 40px;
    padding: 0 0.2em;
    border-radius: 0.2em;
    text-align: center;
}
.order_1 {
    color: red;
    border: 1px solid red;
}
.order_2 {
    color: blue;
    border: 1px solid blue;
}
.order_3 {
    color: green;
    border: 1px solid green;
}
.order_4 {
    background-color:#686868;
    width: 40px;
    padding: 0 0.2em;
    border-radius: 0.2em;
    text-align: center;
    color: white;
    border: 1px solid #686868;
}
.order_use {
    background-color: white;
    border: 1px solid #686868;
    width: 25px;
    padding: 0 0.2em;
    border-radius: 0.2em;
    text-align: center;
}
.kakudo {
    color: white;
    width: 25px;
    padding: 0 0.2em;
    border-radius: 0.2em;
    text-align: center;
}
.kakudo_A {
    background-color:red;
    border: 1px solid red;
}
.kakudo_B {
    background-color:blue;
    border: 1px solid blue;
}
.kakudo_C {
    background-color:green;
    border: 1px solid green;
}
.modal_action {
    border-bottom: dotted 1px #646565;
    margin: 0.7em 0.2em;
}
.red-check .form-check-input:checked {
    background-color: #f00; 
    border-color: #f00;
}